@model IEnumerable<_24_Fitness_MVC.Models.CenterDetail>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<img src="~/images/againcenter.jpg" />


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CenterName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Club_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Open_Hours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activitie)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CenterName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Club_Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Open_Hours)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Activitie)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
