@model IEnumerable<_24_Fitness_MVC.Models.FitnessClub>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<img src="~/images/again.jpg" />


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Club_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Club_Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Club_Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender_Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Package_Id)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Club_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Club_Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Club_Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender_Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Package_Id)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
